.alert {
	position: relative;
	.icon-close {
		position: absolute;
		font-size: 20px;
		right: 10px;
		top: 14px;
		opacity: .5;
		cursor: pointer;
		&:hover {
			opacity: .8;
		}
	}

	&-content {
		background: #f6f6f6;
		padding: 15px 29px 15px 15px;
		margin-bottom: 20px;
	}
}
