.alert {
	position: relative;

	.alert-content{
		padding: 15px 29px 15px 15px;
	}

	.icon-close:first-child {
		position: absolute;
		right: 10px;
		top: 12px;

		& + * {
			margin-top: 0;
		}
	}
}
