@tooltip-color: #222;
.tooltip-border-color(@align) {
    &[data-placement^='@{align}'] .popover-arrow {
        border-@{align}-color: @tooltip-color;
    }
}
.tooltip {
    border: 0;
    font-size: 12px;
    background: @tooltip-color;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px #aaa;
    max-width: 200px;

    &.popover-show {
        display: table;
    }
    .popover-inner {
        padding: 2px 8px 4px;
    }

    .tooltip-border-color(left);
    .tooltip-border-color(right);
    .tooltip-border-color(top);
    .tooltip-border-color(bottom);
}
