@tooltip-color: #222;
.tooltip-border-color(@align) {
	&[data-placement^='@{align}'] .popover-arrow {
		&:before,
		&:after {
			border-@{align}-color: @tooltip-color;
		}
	}
}
.tooltip {
	font-size: 12px;
	.popover-inner {
		color: #fff;
		border: 1px solid @tooltip-color;
		background: @tooltip-color;
		box-shadow: 0 1px 3px #aaa;
		border-radius: 3px;
		max-width: 200px;
	}

	&.popover-show {
		display: table;
	}
	.popover-inner {
		padding: 6px 12px 7px;
	}

	.tooltip-border-color(left);
	.tooltip-border-color(right);
	.tooltip-border-color(top);
	.tooltip-border-color(bottom);
}
