.popover-align(@l, @r, @m,@n) {
    &[data-placement^='@{l}'] {
        margin-@{r}: @arrow-size;
    }
    &[data-placement^='@{l}'] &-arrow {
        border-@{l}-color: @border-color;
        @{r}: -@arrow-size;
        border-@{r}: 0;
        margin-@{m}: @arrow-size;
        margin-@{n}: @arrow-size;
    }
}

.popover {
    @arrow-size: 6px;
    @border-color: #fff;

    display: none;
    background: #fff;
    border: 1px solid @border-color;

    box-shadow: 0 2px 6px rgba(0,0,0,.16), 0 3px 20px rgba(0,0,0,.16);

    &-wrap {
        position: relative;
    }

    &-show {
        display: block;
    }

    &-arrow {
        width: 0;
        height: 0;
        border: @arrow-size solid transparent;
        position: absolute;
    }

    &-inner {
        padding: 8px
    }

    .popover-align(left,right,top,bottom);
    .popover-align(right,left,top,bottom);
    .popover-align(top,bottom,right,left);
    .popover-align(bottom,top,right,left);
}
