// google color
// @blue:#4285f4;
// @red:#ea4335;
// @green:#34a853;
// @yellow:#fbbc05;

@blue:#4e97ff;
@red:#DB3737;
@green:#34a853;
@yellow:#fbbc05;
@purple:#634DBF;
@dark:#182026;


@primary:@blue;