.skin(@color, @degree: 12%) {
	background: @color;
	color: #fff;

	&-ghost {
		color: @color;
		background: fade(@color, @degree) ;
		&.skin-border {
			border: 1px solid @color;
		}
	}
}


.skin-primary {
	.skin(@primary);
}

.skin-red,
.skin-error,
.skin-danger {
	.skin(@red);
}

.skin-orange,.skin-warning {
	.skin(@orange);
}
.skin-yellow {
	.skin(@yellow);
}
.skin-green,.skin-success {
	.skin(@green);
}
.skin-blue,.skin-info {
	.skin(@blue);
}
.skin-blue {
	.skin(@blue);
}
.skin-purple {
	.skin(@purple);
}

.skin-dark {
	.skin(@dark, 5%);
}
