.badge{
    box-sizing: border-box;
    height: 22px;
    min-width: 22px;
    padding: 0 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 500px;
    font-size: 14px;
}